# ===============================
# DATA (BIG FILES – NEVER PUSH)
# ===============================
data/
*.csv
*.tsv
*.zip
*.tar
*.gz
*.npy
*.pkl
training_reports/
input/
output/
models/

# ===============================
# MODELS
# ===============================
models_saved/
*.pth
*.pt
*.h5
*.keras
*.onnx

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
emotion_env/
env/



# ===============================
# VS CODE
# ===============================
.vscode/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS / OUTPUTS
# ===============================
*.log
outputs/
results/
output_*.mp4
*.mp4

# ===============================
# NOTEBOOK / TOOLING
# ===============================
.ipynb_checkpoints/
